body{background: #f1f1f1;}
/* top部分 */
a {
    color: #717171;
}
a:hover{
    color: #ff6905;
}
.arrow {
    width: 3px;
    height: 3px;
    border-left: 1px solid #717171;
    border-bottom: 1px solid #717171;
    transform: rotate(-45deg);
    position: absolute;
    top: 14px;
    right: 0px;
}
.line{
    width: 1px;
    height: 12px;
    background: #D2D2D2;
}
.underline{
    display: inline-block;
    height: 1px;
    width: 45px;
    background: #D2D2D2;
}

.wrap_top {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #efefef;
    background: #f5f5f5;
}
.top {
    height: 100%;
    width: 1190px;
    margin: 0 auto;
    line-height: 35px;
}
.top li{
    position: relative;
    padding-left: 4px;
    padding-right: 6px;
}
.top_left {
    float: left;
}
.top_left>li {
    display: inline-block;
}
.top_left>li:nth-of-type(1){
    color: #6a6a6a;
    width: 60px;
}
.top_left>li:nth-of-type(2) a{
    width: 62px;
    color: #ff6905;
    margin-left: 5px;
}
.top_left>li:nth-of-type(3){
    width: 50px;
}
.top_left>li:nth-of-type(4){
    width: 68px;
    margin-left: 5px;
}

.top_left_drop {
    width: 265px;
    height: 210px;
    background: #fff;
    text-align: left;
    display: none;
    position: absolute;
    left: 0;
    top: 35px;
    overflow-y: scroll;
    border: 1px solid #efefef;
}
.top_left_drop li{
    display: block;
}
.top_left_drop li:hover{
    background: #f5f5f5;
}
.top_left_drop li a{
    display: block;
}

.top_right {
    float: right;
    width: 588px;
}
.top_right>li{
    display: inline-block;
}
.top_right_drop li:hover{
    background: #f5f5f5;
}
.top_right>li:nth-of-type(1){
    width: 58px;
}
.top_right>li:nth-of-type(2){
    width: 58px;
    background: url(../img/shopcar.gif) no-repeat 0 12px;
    text-indent: 13px;
    margin-left: 7px;
}
.top_right>li:nth-of-type(3){
    width: 60px;
    margin-left: 7px;
    background: url(../img/mar.gif) no-repeat 0 10px;
    text-indent: 13px;
}
.top_right>li:nth-of-type(4){
    width: 66px;
    margin-left: 5px;
}
.top_right>li:nth-of-type(4) .line{
    position: absolute;
    top: 11px;
    right: 0;
}
.top_right>li:nth-of-type(5){
    width: 58px;
    margin-left: 5px;
}
.top_right>li:nth-of-type(6){
    width: 58px;
    margin-left: 5px;
}
.top_right>li:nth-of-type(7){
    width: 73px;
    margin-left: 5px;
    background: url(../img/menu.gif) no-repeat 4px 13px;
    text-indent: 15px;
}
.top_right_drop{
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    border: 1px solid #efefef;
}
.top_right_drop li a{
    display: block;
}
.top_right>li:nth-of-type(1) .top_right_drop{
    width: 85px;
}
.top_right>li:nth-of-type(3) .top_right_drop{
    width: 85px;
    left: -16px;
}
.top_right>li:nth-of-type(5) .top_right_drop{
    width: 85px;
}
.top_right>li:nth-of-type(6) .top_right_drop{
    width: 80px;
}

/* header部分 */
.wrap_header{background: #fff;height: 130px;width: 100%;}
.header{
    position: relative;
    width: 1190px;
    margin: 0 auto;
}
.logo{
    position: absolute;
    left: 22px;
    top: 34px;
}
.search{
    position: absolute;
    left: 265px;
    top: 30px;
}
.search_form{
    width: 625px;
    height: 65px;
}
.search_form>ul>li{
    display: inline-block;
    width: 50px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #fe5500;
}
/* .search_form>ul>li:hover{
    background: ;
    color: ;
} */
.search_form>ul .active{
    background: #fe5500;
    color: #fff;
    font-weight: bold;
}
.search_form input{
    width: 500px;
    height: 34px;
    border: 3px solid #fe5500;
    display: inline-block;
}
.search_form button {
    width: 119px;
    height: 40px;
    background: #fe5500;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    float: right;
}
.search_suggest{
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
}
.search_suggest a{
    display: inline-block;
}
.search_suggest a:hover{
    color: #fe5500;
}
.search_suggest span{
    position: absolute;
    right: 0;
}
.mar{
    position: absolute;
    left: 1075px;
    top: 33px;
    border: 1px solid #eaeaea;
    width: 82px;
    height: 95px;
    text-align: center;
    padding: 5px 6px 12px 6px;
}
.mar>span{
    border: 1px solid #eaeaea;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    left: -20px;
    top: 0;
    line-height: 18px;
    color: #BDBDBD;
}
.mar img{
    display: block;
    width: 80px;
    height: 80px;
}

/* 写mainup部分 */
.main_up{
    position: relative;
    width: 1190px;
    margin: 0 auto;
}
/* nav部分 */
.nav{
    display: inline-block;
    width: 1089px;
    height: 32px;
    position: absolute;
    line-height: 32px;
    top: 0;
    left: 180px;
    font-weight: bold;
    background: #fff;
}
.nav ul{ margin-left: 32px;}
.nav li{
    float: left;
    margin-right: 17px;
    font-size: 14px;
}
.nav li.line{
    margin-top: 10px;
}
.nav .red{
    color: #fe5500;
    font-size: 16px;
}

/* menu部分 */
.menu{
    width: 190px;
    height: 515px;
    position: relative;
    z-index: 1;
}
.menu>ul{
    width: 190px;
    height: 481px;
    background: #fe5500;
    color: #fff;
}
.menu>ul>li{
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    padding-left: 32px;
    padding-right: 15px;
}
.menu>ul>li>i{
    float: right;
}
.menu>h3{
    font-size: 16px;
    background: #fe5500;
    color: #fff;
    height: 34px;
    line-height: 34px;
    padding-left: 8px;
}
.menu .popup{
    width: 710px;
    height: 521px;
    border: 2px solid #fe5500;
    position: absolute;
    left: 189px;
    top: 30px;
    z-index: 99;
    display: none;
}
.menu .popup .popup_left{
    float: left;
    background: #fff;
    width: 425px;
    padding: 30px 10px 10px 20px;
    z-index: 99;
}
.menu .popup .popup_left>li{
    height: 157px;
    width: 426px;
}
.menu .popup .popup_left h3{
    border-bottom: 1px solid #B2AFAF;
    font-size: 15px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin-bottom: 8px;
}
.menu .popup .popup_left h3 span{
    float: right;
    font-size: 12px;
}
.popup_left a{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    color: #666;
    margin-right: 16px;
}
.menu .popup .popup_right{
    float: left;
    background: #f4f4f4;
    width: 255px;
    height: 100%;
    position: relative;
}
.menu .popup .popup_right h3{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.popup_right span.underline:nth-of-type(1){
    position: absolute;
    left: 38px;
    top: 27px;
}
.popup_right span.underline:nth-of-type(2){
    position: absolute;
    left: 173px;
    top: 27px;
}
.menu .popup .popup_right p{
    text-align: center;
    color: #989898;
}
.popup_right>img{
    width: 110px;
    height: 110px;
    margin: 15px 6px;
}

.ad1{
    width: 190px;
    height: 40px;
}

/* slide_up */
.slide_up{
    width: 520px;
    height: 280px;
    position: absolute;
    top: 44px;
    left: 200px;
    overflow: hidden;
}
.slide_up img{
    cursor: pointer;
}
.slide_up:hover .slide_up_left,.slide_up:hover .slide_up_right{
    display: block;
}
.slide_up_left, .slide_up_right{
    position: absolute;
    width: 22px;
    height: 33px;
    top: 127px;
    background: rgba(0,0,0,0.3);
    color: rgba(255, 255, 255,0.8);
    font-weight: bold;
    text-align: center;
    line-height: 33px;
    z-index: 2;
    display: none;
}
.slide_up_left{
    left: 0;
}
.slide_up_right{
    right: 0;
}
.slide_up .button{
    position: absolute;
    left: 222px;
    top: 246px;
    z-index: 2;
    width: 69px;
    height: 13px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.50);
}
.slide_up .button span{
    width: 9px;
    height: 9px;
    border-radius: 9px;
    display: inline-block;
    background: #b8b6b9;
    cursor: pointer;
}
.slide_up .button span.active{
    background: #ff4303;
}
.slide_up>ul{
    width: 3640px;
    position: absolute;
    left: -520px;
}
.slide_up li{
    display: inline-block;
}


.ad2{
    width: 160px;
    height: 280px;
    position: absolute;
    top: 44px;
    left: 730px;
}

/* slide_down */
.slide_down{
    width: 520px;
    height: 218px;
    position: absolute;
    top: 336px;
    left: 200px;
    overflow: hidden;
}
.slide_down:hover .slide_down_left,.slide_down:hover .slide_down_right{
    display: block;
}
.slide_down h3 img{
    position: relative;
    top: 2px;
}
.slide_down h3{
    border-bottom: 2px solid #c12c26;
    font-size: 14px;
    font-weight: bold;
    color: #3c3c3c;
    line-height: 12px;
    /* height: 12px; */
}
.slide_down i{
    color:  #666666;
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
}
.slide_down h3 span{
    float: right;
    position: relative;
    top: 5px;
}
.slide_down>ul{
    width: 3120px;
    position: absolute;
    left: -520px;
}
.slide_down>ul li{
    display: inline-block;
}
.slide_down_left, .slide_down_right{
    position: absolute;
    width: 22px;
    height: 33px;
    top: 107px;
    background: rgba(0,0,0,0.3);
    color: rgba(255, 255, 255,0.8);
    font-weight: bold;
    text-align: center;
    line-height: 33px;
    z-index: 2;
    display: none;
}
.slide_down_left{
    left: 0;
}
.slide_down_right{
    right: 0;
}
.slide_down .button{
    position: absolute;
    left: 239px;
    top: 189px;
    z-index: 2;
    /* width: 69px; */
    height: 13px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.50);
}
.slide_down .button span{
    width: 9px;
    height: 9px;
    border-radius: 9px;
    display: inline-block;
    background: #b8b6b9;
    cursor: pointer;
}
.slide_down .button span.active{
    background: #ff4303;
}

.ad3{
    width: 160px;
    height: 217px;
    position: absolute;
    top: 338px;
    left: 730px;
}
.ad3 h2{
    font-weight: normal;
    color: #B2AFAF;
    margin-bottom: 3px;
}
.ad4{
    width: 890px;
    height: 76px;
    position: absolute;
    left: 0;
    top: 565px;
}
.ad4>div{
    width: 178px;
    height: 76px;
    float: left;
}
.ad4>div img{
    width: 80px;
    height: 76px;
    float: left;
}
.ad4>div h4{
    font-size: 16px;
    margin-top: 10px;
}
.ad4>div strong{
    margin-top: 7px;
    font-size: 12px;
    display: block;
}
.ad4>div span{
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    display: block;
}
.ad4>div:nth-of-type(1) h4,.ad4>div:nth-of-type(1) strong{
    color: #9a745f;
}
.ad4>div:nth-of-type(2) h4,.ad4>div:nth-of-type(2) strong{
    color: #81c18f;
}
.ad4>div:nth-of-type(3) h4,.ad4>div:nth-of-type(3) strong{
    color: #72a5f6;
}
.ad4>div:nth-of-type(4) h4,.ad4>div:nth-of-type(4) strong{
    color: #846fc7;
}
.ad4>div:nth-of-type(5) h4,.ad4>div:nth-of-type(5) strong{
    color: #de525e;
}

/* sidebar_up */
.sidebar_up {
    width: 290px;
    height: 627px;
    position: absolute;
    left: 900px;
    top: 44px;;
}

/* main_down */
.main_down{
    height: 2670px;
    width: 1190px;
    margin: 150px auto;
    position: relative;
}

.ad5{
    width: 880px;
    height: 70px;
    position: absolute;
    top: 749px;
    left: 5px;
}

.ad6{
    width: 889px;
    height: 71px;
    position: absolute;
    left: 0;
    top: 2599px;
}

.sidebar_down{
    width: 290px;
    height: 2583px;
    position: absolute;
    left: 900px;
    top: 0;
}

/* bottom */
.bottom{
    
}